.main{
    background-color: hsl(330, 77%, 90%);
    width: 700px;
    height: 450px;
    padding:40px 60px;
    margin: 100px 400px;
    box-sizing: border-box;
    border-radius: 100px;
    box-shadow: 1px 1px 20px rgb(115, 46, 76);
}
main{
    display: flex;
    
}
*{
    font-family: "Outfit";
}
body{
    background-color: rgb(255, 240, 251);

}
nav>h1{
    padding: 0px 25px ;
    font-size: 170%;
    color: rgba(50, 0, 85, 0.956);
}
form{
    padding: 30px 130px ;
}
label{
    padding: 100px;
    cursor: pointer;
}
input:focus .label{
color: black;
}
input{
    display:block;
    text-align: center;
    width: 300px;
    height: 30px;
}
.button>.submit{
margin: 20px 100px;
color: rgba(50, 0, 85, 0.956);
background-color: rgb(220, 241, 245);
width: 100px;
height: 30px;
border-radius: 20px;
cursor: pointer;
border: none;
}
.button>.submit:hover{
    color: rgba(242, 225, 255, 0.956);
background-color: rgb(39, 63, 67);
    transition: all 0.2s ease-out;
    transform: scale(1.1);
}
