div>i{
    margin-left: 67px;
    font-size: 90px;
}
div>h4{
    color: rgba(75, 43, 15, 0.956);
    text-shadow: 0px 0px 1px rgb(34, 23, 17);
    text-align: center;
}
div>h3{
    color: rgba(75, 43, 15, 0.956);
    text-align: center;
    font-size:190%; 
    text-shadow: 0px 0px 2px rgb(34, 23, 17);
}
a{
    text-decoration: none;
    color: rgba(75, 43, 15, 0.956);
    background-color: rgb(238, 232, 224);
    border-radius: 10%;
    cursor: pointer;
}
a:hover{
    color: rgba(49, 47, 151, 0.956);
    background-color: rgb(238, 232, 224);   
}
.info{
    font-size:200%;
    margin-left:499px;
    margin-bottom: 200px;
    margin-top:-270px;
    color: rgba(75, 43, 15, 0.956);
    width: 500px;
    text-align: center;
    font-weight: 900;
    text-shadow: 1px 0px 2px hsl(21, 94%, 80%);
    font-family: "Young serif",serif;
}
nav{
    background-color:hsl(330, 100%, 98%);
    color: hsl(332, 51%, 32%);
    height:auto;
    width:230px;
    z-index:-1;
    margin: -6px 0px -8px -7px;
}
nav >.profile{
    margin-left:250px;
    margin-top:-120px;
    width: 500px;
    font-family:"Outfit";
    font-size:150%;
}
nav>.profile>p ,nav>.experience>p ,nav >.Certificates >ul , nav>.Hobbies>ul,nav>.References>p{
    color: black;
    font-size:70%;
    font-weight: 300;
    width: 1000px;
    margin-left:10px;
}
nav>.education, nav>.experience ,nav>.projects ,nav>.skills,nav>.Certificates, nav>.Hobbies ,nav>.References{
    margin-left:250px;
    margin-top:-10px;
    width: 500px;
    font-family:"Outfit";
    font-size:150%;
}
nav>.education>ul ,nav>.projects>.pro ,nav>.skills>ul{
    color:black;
    font-size:70%;
    font-weight: 300;
    width: 1000px;
    margin-left:10px;
}
ul>li::marker{
    color: rgba(50, 0, 85, 0.956);
}
hr{
    width:700px;
    margin-left: 100px;
    margin-top: 40px;
}
.projects>.pro>.first>i,.projects>.pro>.second>i,.projects>.pro>.third>i{
font-size:20px;
}
.projects>.pro>.first,.projects>.pro>.second,.projects>.pro>.third{
    display: inline-block;
    margin-right:  45px;
    background-color: hsl(330, 100%, 98%);
    width:260px;
    height:auto;
    text-align:center;
    font-size: 15px;
    border-radius: 50px;
    box-shadow: 2px 2px 10px  hsl(332, 18%, 64%);
    cursor: pointer;
}
.projects>.pro>.first{
    margin-left: 15px;
}
.projects>.pro>.first:hover,.projects>.pro>.second:hover,.projects>.pro>.third:hover{
    background-color: hsl(308, 23%, 57%);
    color: rgb(222, 247, 247);
    transform: scale(1.15);
    transition:all 0.4s ease-in-out;
}
.projects>.pro>.second{
    padding: 40px 10px 90px;
}
.projects>.pro>.third{
    padding: 0px 10px 90px;
}
.projects>.pro>.first{
    padding: 40px 10px 90px;
}
.projects>.pro>.first>.photo>img{
    width: 240px;
    height: 210px;
    padding: 25px 0px 90px;
    border-radius: 10px;
}
.projects>.pro>.first>.photo{
background-color:hsl(317, 27%, 71%);
border-radius: 10px;
height: 260px;}

.projects>.pro>.third>.recipe{
height: 249px;
background-color: hsl(317, 27%,71%);
border-radius: 10px;
padding: 0px 0px 20px;}

.projects>.pro>.second>.fire>img{
    width: 240px;
    height: 220px;
    border-radius: 10px;
}
.projects>.pro>.second>.fire{
    padding: 20px 0px 0px;
    height: 250px;
    background-color: hsl(317, 27%,71%);
    border-radius: 10px;
    }
.projects>.pro>.third>.recipe>img{
        width: 240px;
        height: 220px;
        border-radius: 10px;
        padding: 20px 0px 20px;
    }
.projects>.pro>.second>p{    
    padding: 30px 0px 0px;
    }
.projects>.pro>.third>p{
        padding: 29px 0px 0px;
    }
    .projects>.pro>.third{
        padding-top: 50px;
        padding-left: 12px;
    }

.Certificates>ul>img{
    width:1080px;
    height:800px;
}
.Certificates>ul>iframe{
    width:1080px;
    height:760px;
}
form>button{
    text-align: center;
    margin-left: 82px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: rgb(233, 187, 215);
color:rgba(0, 0, 0, 0.956);

cursor: pointer;
}
button:hover{
    color: rgb(255, 231, 245);
    background-color: rgb(237, 140, 197);
    transform: scale(1.2);
    transition: all 0.2s ease-in;
}